
@media (max-width: 300px){
    .grid-display{
        display:block !important;
        /* grid-template-columns: repeat(1, 1fr); */
    }
    
}
@media (min-width: 360px){
    .grid-display{
        display:grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
}

@media (min-width: 800px){
    .grid-display{
        display:grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }
    
}
@media (min-width: 1200px){
    .grid-display{
        display:grid !important;
        grid-template-columns: repeat(4, 1fr) !important;
    }
    
}




.grid-display{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

#book h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

#book h6 {
  color: #666;
  margin-top: 4px;
}

#book img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#book .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}
.item-size{
    width: 100%;
}

#book .speakers-wrapper {
    background: #ffffff;
    padding-bottom: 22px;
}

.book-card-height{
    height: 100% !important;
    width: 100% !important;
  }
  

